{% extends "EFormsBundle:Admin:leftSideBarBase.html.twig" %}

{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="{{ path('eforms_home_list') }}">Lista formulare <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block rightsidebar %}
                    <h1 class="page-header">Formulare</h1>
                    <div class="row">
                        {% for item in data %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h3>{{ item.label|e|truncate(50) }}</h3>
                                        <p>{{ item.description|e|truncate(160) }}</p>
                                        <p>
                                            <a href="{{ path('eforms_home_view', {id: item.id}) }}" class="btn btn-primary" role="button">
                                                <span class="glyphicon glyphicon-eye-open"></span> Vezi
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
